@model Category

<h2>Create New Category</h2>

<form asp-controller="Category" asp-action="Create" method="post">
    <fieldset>
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="Name" class="form-label mt-4"></label>
            <input asp-for="Name" class="form-control" placeholder="Enter category name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DisplayOrder" class="form-label mt-4"></label>
            <input asp-for="DisplayOrder" class="form-control" placeholder="Display order">
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>

        </div>
        <br />

        <button type="submit" class="btn btn-outline-primary">Create</button>
        <a class="btn btn-primary" asp-controller="Category" asp-action="Index">
            Back to List
        </a>

        
    </fieldset>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}