@model Category

<h2>Delete Category</h2>

<form asp-controller="Category" asp-action="Delete" method="post">
    <fieldset>

        <div class="form-group">
            <label asp-for="Name" class="form-label mt-4"></label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="DisplayOrder" class="form-label mt-4"></label>
            <input asp-for="DisplayOrder" class="form-control">

        </div>
        <br />

        <button type="submit" class="btn btn-outline-danger">Delete</button>
        <a class="btn btn-primary" asp-controller="Category" asp-action="Index">
            Back to List
        </a>


    </fieldset>
</form>
